.header {
  display: flex;
  color: #000;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.header__logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ddd;
  transition: all 0.2s;
}


.header__logo--collapsed {
  width: 80px;
  transition: all 0.2s;
}

.header__nav {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.header__nav-left {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.header__collapse {
  margin-right: 20px;
  cursor: pointer;
}

.content {
  padding: 20px;
}